<!DOCTYPE html>
<html>
<head>
  <title>Saskia Roelofs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- META TAGS  -->
</head>
<body class="<%= params[:controller] %>-<%= params[:action] %>">
  <!-- http://stackoverflow.com/questions/31280230/rails-4-bootstrap-3-how-to-display-a-different-navigation-bar-on-different-pa -->
    <%= render 'shared/navbar' %>
  <%= yield %>
</body>
</html>
